server:
  http:
    addr: 0.0.0.0:7001
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9001
    timeout: 1s

trace:
  endpoint: http://localhost:14268/api/traces

data:
  database:
    driver: mysql
    source: root:@tcp(127.0.0.1:3306)/house
  redis:
    addr: 127.0.0.1:6379
    read_timeout: 0.2s
    write_timeout: 0.2s

registry:
  consul:
    address: 127.0.0.1:8500
    scheme: http